<div class="new-bg">
  <h1><%= @item.name %></h1>
  <div class="new-item-main">
    <div class="new-item-img-upload item-header-img">
      <div class="header-img"></div>
      <p>Upload Image</p>
    </div>
    <div class="new-item-form">

      <% if @item.errors.any? %>
        <% @item.errors.full_messages.each do |message|%>
          <h3><%= message %>!</h3>
        <%end%>
      <%end%>

      <%= render "items/item_form" %>
      
    </div>
  </div>
</div>
